[user]
  name = Biswajit Biswas
  email = jfbiswajit@gmail.com

[alias]
  al = !git config --get-regexp ^alias\\. | sed -e s/^alias\\.// -e s/\\ /\\ =\\ /
  st = status
  rs = !git reset --hard && git clean -fd
  cm = !git add . && git commit -m
  gtc = reset --merge
  sw = switch
  lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
  br = branch
	amd = !git add . && git commit --amend --no-edit
  pp = !git add . && git commit -m "\"feat: Quick updates and sync\"" && git push origin HEAD

[core]
  editor = nano
[init]
  defaultBranch = master
